/* Importing Google Font */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Body Styles */
body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(/Users/seunghyeokkim/Desktop/quiz_app_project/giphy.gif);
  background-size: cover;
}
/*container structure*/

/* Heading Container Styles */
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-heading {
  font-size: 28px;
}
/*container styles*/
.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  background: #ffffff79;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading {
  text-align: center;
  font-size: 30px;
  color: #1e3050;
  margin-bottom: 30px;
}
/* Subheading Styles */
h2 {
  font-size: 25px;
}
/* Label Styles */
label {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  color: #1e3050;
}
/* Select Styles */
select {
  width: 100%;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 25px;
  background: #fff;
  color: #121212;
  font-size: 14px;
  text-align: center;
}
/* Start Screen Button Styles */
.start-screen .btn {
  margin-top: 22px;
}
/* Hide Class (Display Utility) */
.hide {
  display: none;
}

/* Quiz Page Styles */

/* Timer Styles */
.timer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
/* Progress Bar Styles */
.timer .progress {
  position: relative;
  width: 100%;
  height: 40px;
  background: #3232320e;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #3232320e;
}
/* Progress Bar Fill Styles */
.timer .progress .progress-bar {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to left, #ffffff, #f2f2f2, #e2e2e2);
  transition: 1s linear;
}
/* Progress Bar Text Styles */
.timer .progress .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1e3050;
  font-size: 16px;
  font-weight: 500;
}
/* Question and Checkbox Styles */
.question-wrapper .number {
  color: #1e3050;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
/* Question Number Styles */
.question-wrapper .number .total {
  color: #1e3050;
  font-size: 18px;
}
/* Question Text Styles */
.question-wrapper .question {
  color: #1e3050;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
/* Answer Wrapper Styles */
.answer-wrapper .answer {
  width: 100%;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  color: #1e3050;
  border: 1.5px solid #1e3050;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s linear;
}
/* Answer Hover and Selected Styles */
.answer:hover,
.answer.selected {
  background-color: #ffffff;
}
/* Checkbox Styles */
.answer .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid #1e3050;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
/* Checkbox Icon Styles */
.answer .checkbox i {
  color: #fff;
  font-size: 10px;
  opacity: 0;
  transition: all 0.3s;
}
/* Checkbox Hover and Selected Styles */
.answer:hover:not(.checked) .checkbox,
.answer.selected .checkbox {
  background-color: #1e3050;
  border-color: #1e3050;
}
.answer.selected .checkbox i {
  opacity: 1;
}
/* Correct Timer Styles */
.answer.correct-timer {
  background: #20bc2d;
  border-color: #20bc2d;
}
/* Wrong Answer Styles */
.answer.wrong {
  background-color: #e94d4e;
  border-color: #e94d4e;
}
/* Margin for Question and Answer Sections */
.question-wrapper,
.answer-wrapper {
  margin-bottom: 50px;
}
/* Quiz Button Styles */

/* General Button Styles */
.btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s linear;
}
/* Button Hover Styles */
.btn:hover {
  background: #54a5fb;
  color: #121212;
}
/* Disabled Button Styles */
.btn:disabled {
  background: #576081;
  color: #1e3050;
  cursor: not-allowed;
}
/* Disabled Button with Darker Background Styles */
.disabled-button {
  pointer-events: none;
  background: #6243d1c9;
  color: #fff;
  cursor: not-allowed;
}
/* Next Button Styles */
.btn.next {
  font-size: 18px;
  display: none;
}

/*score page*/

/* End Screen Styles */
.end-screen .score {
  color: #1e3050;
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;
}
.score .score-text {
  color: #1e3050;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 120px;
}

/*responsive page*/
@media (max-width: 768px) {
  .container {
    max-width: 380px;
    padding: 10px;
  }
  .main-heading {
    font-size: 35px;
    margin: 0;
  }
  .container {
    padding: 20px;
  }
  .heading {
    font-size: 24px;
  }

  select {
    font-size: 12px;
  }

  .btn {
    height: 50px;
    font-size: 16px;
  }

  .timer {
    height: 80px;
  }
  .question-wrapper .number {
    font-size: 20px;
  }

  .question-wrapper .question {
    font-size: 16px;
  }

  .answer-wrapper .answer {
    height: 50px;
    font-size: 14px;
  }

  .answer .checkbox {
    width: 16px;
    height: 16px;
    font-size: 8px;
  }

  .btn.next {
    height: 50px;
    font-size: 18px;
  }

  .end-screen .score {
    font-size: 24px;
  }

  .score .score-text {
    font-size: 21px;
  }
}
